<% @posts.each do|post| %>
  <div><%= image_tag post.user.photo %></div></br>
  <div><%= post.user.name%></div></br>
  <div><%= image_tag post.photo %></div></br>
  <div><%= post.description %></div>
  <% if post.user==current_user %>
    <%= link_to 'Edit Post', edit_post_path(post.id) %>
  <% end %>
<% end %>

