<div class= "prof_header">
  <div class="row">
    <div column="col-xs-4">
        <%= image_tag @post.user.photo, class:'prof-pic' %>
    </div>
    <div class="col-xs-8">
      <div class="user_header">
        <div class="row">
          <div class="col-xs-6">
            <h1 class="username"><%= @post.user.name %></h1>
          </div>
        </div>
      </div>
    </div>
      <div class="prof_post_box">
      <div class="row">
        <%= image_tag @post.photo %></h1>
        <%= @post.description %></h1>
      <div class="col-xs-6">
        <% if @post.user == current_user %>
        <%= link_to 'Edit Post', edit_post_path(@post.id) %>
        <%= link_to 'Delete', post_path(@post.id), method: :delete, data: {confirm: "are you sure?"} %>
        <% end %>
      </div>
      </div>
      </div>
  </div>
</div>


